﻿@page "/home"
@page "/"
@using System.Security.Claims;
<MudContainer Style="display: inline-block; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 900px; height: 300px; margin: auto; ">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2" Class="mt-4">Chat Application</MudText>
        </MudItem>
    </MudGrid>
</MudContainer>